div.jumbotron.carousel-hero {
  color: #fff;
  text-align: center;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 0;
  margin-top: 80px;
  height: 480px;
}

div.jumbotron.hero-nature {
  background-image: url('../../assets/img/architect-at-the-construction.jpg?h=7b13db586f5ab98191e91d6d963e1f7f');
}

div.jumbotron.hero-photography {
  background-image: url('../../assets/img/architects-and-worker.jpg?h=f85f70e446dd8ff3debacee1c5e04bc6');
}

div.jumbotron.hero-technology {
  background-image: url('../../assets/img/young-college-students.jpg?h=3b924573ccef909c6753a54c7f30caf1');
}

h1.hero-title, h2.hero-title, h3.hero-title {
  text-shadow: 0 3px 3px rgba(0,0,0,0.4);
  color: #fff;
}

p.hero-subtitle {
  max-width: 600px;
  margin: 25px auto;
  padding: 10px 15px;
  color: #fff;
}

.plat {
  border-radius: 0px;
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 0 #048f83!important;
}

.btn-primary:hover {
  color: #fff;
  background-color: #016090;
  border-color: #016090;
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 .2rem rgba(0,123,255,.5);
}

* {
  /*box-sizing: inherit;*/
}

*:before, *:after {
  /*box-sizing: inherit;*/
}

span {
  font-style: inherit;
  font-weight: inherit;
}

#Col1 {
}

.btn {
  width: 100px;
  font-weight: bold;
  font-size: 18px;
  background-color: #6998ab;
  border-color: #6998ab;
  color: #ffffff;
<<<<<<< HEAD
=======
  font-weight: bold;
>>>>>>> 27fae97 (tes)
}

.btn:Hover {
  color: #ffffff;
}

